<!DOCTYPE html>
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <meta charset="UTF-8">
            <title>登入失敗</title>
            <link rel="stylesheet" href="{{ url_for('static',filename='message.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="welcome">失敗頁面</div>
                <div class="message">
                    <div class="text">請輸入帳號、密碼</div>
                </div>
        </div>
        <script></script>
    </body>
</html>