<!DOCTYPE html>
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <meta charset="UTF-8">
            <title>正整數平方計算結果</title>
            <link rel="stylesheet" href="{{ url_for('static',filename='message.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="welcome">正整數平方計算結果</div>
                <div class="message">
                    <div class="text">{{ answer }}</div>
                </div>
            </form>
        </div>
    </body>
</html>